.footer {
    background-color: rgba(21, 16, 36, 0.6);
    border-top: 1px solid var(--border-color);
    backdrop-filter: blur(10px);
}

.footer__container {
    padding: 1px;
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 20px;
    margin-bottom: 30px;
}