.footer {
    background-color:rgb(230, 222, 251);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__container {
    padding: 1px;
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 20px;
    margin-bottom: 30px;
}